@media (max-width: 1399px){}
@media (max-width: 991px) {
    .navbar-nav{
        row-gap: 12px;
    }
    .nav-btn {
            margin: 16px auto 24px;
            text-align: center;
        }
    
}
@media (max-width: 767px) {
    h1 {
        font-size: 32px;
            
    }
    h2{
        font-size: 26px;
    }
    .icon-list{
        gap: 22px;
        flex-direction: column;
    }
    .p-80 {
        padding: 60px 0;
    }

}
/*-------------------- mobile device---------------------- */
@media (max-width: 575px) {
    .p-80{
        padding: 40px 0;
    }
  
}